@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    padding: 0 2px;
    /* background: #1e1448; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #00bc7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00e1ff;
}

.hero-image {
    border-radius: 71% 29% 29% 71% / 71% 68% 32% 29%;
}

/* .card-title {
    color: #00a79d;
} */
.card:hover .card-title {
    color: white;
}
.card:hover .card-icon {
    color: #00bc7d;
}
.card:hover .card-icon-div {
    background: white;
}
.card:hover .card-button {
    background: white;
    color: #00bc7d;
}
